@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico');

*, *::before, *::after {
    box-sizing: border-box;
}

/* body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
} */